# IDE
.idea
*.iml

.settings
.project
.classpath

.vscode

*.sublime

# Maven
target

# JRebel
rebel.xml

# Log
*.log

# Node
node_modules
package-lock.json
yarn.lock

# Karma Mocha Coverage Series
build
coverage
